@page "/"
@using BlazorSurf.Shared
@using System.Text.Json
@inject HttpClient Http


<PageTitle>Index</PageTitle>

@if (boards == null)
{
    <p><em>Loading...</em></p>
}

else
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Width</th>
                <th>Length</th>
                <th>Price</th>
                <th>Volume</th>
                <th>Thickness</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var board in boards)
            {
                <tr>
                    <img src="@board.Image" asp-append-version="true" width="100" height="100" />
                    <td>@board.Name</td>
                    <td>@board.Width</td>
                    <td>@board.Length</td>
                    <td>@board.Price</td>
                    <td>@board.Volume</td>
                    <td>@board.Thickness</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Board> boards;

    protected override async Task OnInitializedAsync()
    {
        boards = await Http.GetFromJsonAsync<List<Board>>("api/Boards/GetAllBoards?version=1.0");
    }
}

