@page "/"
@using BlazorSurf.Shared
@using System.Text.Json
@inject HttpClient Http
@inject IModalService modal


<PageTitle>Index</PageTitle>

@if (boards == null)
{
    <p><em>Loading...</em></p>
}
@*https://timheuer.com/blog/filtering-data-table-with-blazor/*@
else
{
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Search...(Name/Price)"
           @bind="Filter"
           @bind:event="oninput">
    </div>
    <table class="table">
        <thead>
            <tr>
                <th Sortable ="true" Filterable="true">Image </th>
                <th>Name</th>
                <th>Width</th>
                <th>Length</th>
                <th>Price</th>
                <th>Volume</th>
                <th>Thickness</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var board in boards)
            {
                if (!IsVisible(board))
                    continue;
                <tr>
                    <img src="@board.Image" asp-append-version="true" width="100" height="100" />
                    <td>@board.Name</td>
                    <td>@board.Width</td>
                    <td>@board.Length</td>
                    <td>@board.Price</td>
                    <td>@board.Volume</td>
                    <td>@board.Thickness</td>
                    <button @onclick="@(()=>modal.Show<BoardPage>(board.Name))" class="btn btn-primary">View</button>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Board> boards;

    protected override async Task OnInitializedAsync()
    {
        boards = await Http.GetFromJsonAsync<List<Board>>("api/Boards/GetAllBoards?version=1.0");
    }
    public string Filter { get; set; }
   
    public bool IsVisible(Board board)
    {
        if (string.IsNullOrEmpty(Filter))
            return true;

        if (board.Name.Contains(Filter, StringComparison.OrdinalIgnoreCase))
            return true;

        if (board.Price.ToString().StartsWith(Filter) || board.Price.ToString().StartsWith(Filter))
            return true;

        return false;
    }
    
}
