@page "/weather"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BlazorSurf.Shared
@using System.Text.Json
@using static BlazorSurf.Shared.WeatherForecast
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<input class="form-text" @bind-value=@CityName @onkeydown="Enter" /> @*Only works with @onkeyup. @onkeydown and @onkeypress doesnt work for some reason*@
<button class="btn btn-primary" @onclick="GetWeatherApiCityName">Knap</button>


@if (weatherForecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Dato</th>
                <th> </th>
                <th>Vejr</th>
                <th>C°</th>
                <th>Vindhastighed m/s</th>
                <th>Luftfugtighed i %</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in weatherForecast.list)
            {
                <tr>
                    <td>@forecast.dt_txt</td>
                    <img src="http://openweathermap.org/img/wn/@forecast.weather[i].icon@@2x.png" />
                    <td>@forecast.weather[0].description</td>
                    <td>@forecast.main.temp</td>
                    <td>@forecast.wind.speed</td>
                    <td>@forecast.main.humidity</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Root? weatherForecast;
    int i = 0; // til vejr ikonet

    [Parameter]
    public string CityName { get; set; }

    public async Task GetWeatherApiCityName()
    {
        var json = await Http.GetStringAsync(
            $"https://localhost:7005/api/Weather?city={CityName}");
        weatherForecast = JsonSerializer.Deserialize<Root>(json);
    }

    public async Task Enter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Task.Delay(100); //Added delay because @onkeydown doesnt work without. If changed to @onkeyup it removes the need for the task.delay
            await GetWeatherApiCityName();
        }
    }
}
